<%- include .././partials/header.ejs %>
<%- include .././partials/main_nav.ejs %>

    <!-- Main Contents: About Us -->

    <section class="bg-dark text-light text-center p-5 text-sm-start">
      <div class="container-fluid">
        <div class="row">
          <div class="col"></div>
          <div class="col-4">
            <h1>
              JIWOONG HONG
            </h1>
            <hr>
            <p>
            <h5>I am a well-trained, dedicated, passionate web developer from Toronto, Ontario.
              I build websites with solid structure, good design, and user friendly interface.</h5>
            </p>
            <hr>

            <!-- Resume Link -->
            <button class="btn btn-lg btn-outline-light" onclick="clickResume()" id="btnResume">Resume</button>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
                src="http://drive.google.com/uc?export=view&id=18oYiAIuRtepT1Hhfjb802aXvRKZcUs73" alt="Card image cap">
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </section>


<%- include .././partials/bottom_nav.ejs %>
<%- include .././partials/footer.ejs %>