
    <!-- Main Contents: About Us -->

    <section class="bg-dark text-light text-center p-5 text-sm-start">
      <div class="container-fluid">
        <div class="row">
                    
          <div class="col-sm-12 col-md-12 col-lg-3"></div>

          <div class="col-sm-12 col-md-6 col-lg-3 justify-content-center">
              <img class="img-fluid rounded img-thumbnail" src="http://drive.google.com/uc?export=view&id=18oYiAIuRtepT1Hhfjb802aXvRKZcUs73" alt="Card image cap">
            </div>

          <div class="col-sm-12 col-md-6 col-lg-3">
            <h1 class="pt-2">
              JIWOONG HONG
            </h1>
            <hr>
            <p>
            <h5>I am a well-trained, dedicated, passionate web developer from Toronto, Ontario.
              I build websites with solid structure, good design, and user friendly interface.</h5>
            </p>
            <hr>
            <!-- Resume Link -->
            <button class="btn btn-lg btn-outline-light" onclick="clickResume()" id="btnResume">Resume</button>
          </div>
 
          <div class="col-sm-12 col-md-12 col-lg-3"></div>
 
        </div>
      </div>
    </section>
