<!-- Main Contents: Contact Us -->

<main>
    <div class="container">
        <!-- Row 1: Business Card -->
        <div class="row">
            <div class="col-sm-12 col-md-2"></div>
            <div class="col-sm-12 col-md-8 px-5 pb-3">

                <!-- Contact Info -->
                <div class="px-5 pb-3">
                    <p>
                    <h1>Contact Us</h1>
                    <address>
                        <strong>Jiwoong Hong</strong>
                        <br>
                        3706-1 Yorkville Avenue
                        <br>
                        Toronto, Onatario, M4W 0B1
                        <br>
                        (437) 236-6523
                    </address>
                    <address>
                        <strong>Jiwoong Hong</strong>
                        <br>
                        <a href="mailto:jhong52@my.centennialcollge.ca">jhong52@my.centennialcollge.ca</a>
                    </address>
                    </p>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-1"></div>
                    <div class="col-sm-12 col-md-10 p-2">
                        <!-- Inquiry Section-->
                        <form class="row border rounded needs-validation bg-light" novalidate>
                            <div class="col-md-6 px-3">
                                <label for="contactFormFirstName" class="form-label pt-2">First Name</label>
                                <input type="text" class="form-control" id="contactFormFirstName"
                                    placeholder="Jay">
                            </div>
                            <div class="col-md-6 px-3">
                                <label for="contactFormLastName" class="form-label pt-2">Last Name</label>
                                <input type="text" class="form-control" id="contactFormLastName"
                                    placeholder="Hong">
                            </div>
                            <div class="mb-1 px-3">
                                <label for="contactFormEmail" class="form-label pt-2">Email Address</label>
                                <input type="email" class="form-control" id="contactFormEmail"
                                    placeholder="jayhong@example.com" />
                            </div>
                            <div class="col-md-12 px-3">
                                <label for="contactFormMessage" class="form-label pt-2">Your Message</label>
                                <textarea class="form-control" id="contactFormMessage"></textarea>
                            </div>
                        <row>

                            <div class="row">
                                <div class="col-md-4 col-lg-5"></div>
                                <div class="col-md-4 col-lg-2 pt-2 pb-2 justify-content-center text-center">
                                    <button id="btnContactSubmit" onclick="clickContactSubmit()"
                                        class="btn btn-outline-dark">Submit</button>
                                </div>
                                <div class="col-md-4 col-lg-5"></div>
                            </div>

                        </row>
                        
                        </form>

                    </div>
                    <div class="col-sm-12 col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</main>