<%- include .././partials/header.ejs %>
<%- include .././partials/main_nav.ejs %>

    <!-- Main Contents: Projects -->

    <!-- Project: Message -->

    <section class="bg-dark text-light text-center p-5">
      <div class="container">
        <div>
          <h1>PROJECTS</h1>
          <div class="row">
            <!-- Line Starts-->
            <div class="col-3"></div>
            <div class="col-6">
              <hr>
            </div>
            <div class="col-3"></div>
          </div> <!-- Line ends -->
          <h4>
            Go from good to great, <br>
            because good is the biggest enemy of great<br>
            - Don Meyer -
          </h4>
          <div class="row">
            <!-- Line Starts -->
            <div class="col-3"></div>
            <div class="col-6">
              <hr>
            </div>
            <div class="col-3"></div>
          </div> <!-- Line Ends -->
        </div>
      </div>
    </section>

    <!-- Project Gallery -->

    <section>
      <div class="album mt-3 mb-5 bg-light">
        <div class="container">
          
          <div class="row text-center g-3">
             
            <!-- Project Card: 1 -->

             <div class="col">
              <div class="card shadow-sm">
                <img src="http://drive.google.com/uc?export=view&id=1afy7R_znGOTdi34iWKeXU4ExfUxuxLDk"
                class="card-img-top" alt="...">               
                <div class="card-body">
                  <p class="card-text"><b>" Catch the Bug "</b><br>
                    Client-Side Web Development<br>
                    Centennial College, Winter 2021
                    <hr>
                    Simple JavaScript Game Development<br>
                    Individual Project
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="card-body">
                      <a href="http://studentweb.cencol.ca/jhong52/assignment5/assignment5/items/assignment5.html" class="card-link">Visit Page</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Project Card: 2 -->

            <div class="col">
              <div class="card shadow-sm">
                <img src="http://drive.google.com/uc?export=view&id=1wruL0jnTYyafnDUuWD3CupuH0euHnMoQ"
                class="card-img-top" alt="...">               
                <div class="card-body">
                  <p class="card-text"><b>" Dynamic Table Builder "</b><br>
                    Client-Side Web Development<br>
                    Centennial College, Winter 2021
                    <hr>
                    Dynamic JavaScript Training<br>
                    Individual Project
                    
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="card-body">
                      <a href="http://studentweb.cencol.ca/jhong52/assignment2/assignment2.html" class="card-link">Visit Page</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Project Card: 3 -->

            <div class="col">
              <div class="card shadow-sm">
                <img src="http://drive.google.com/uc?export=view&id=1Yva5C0L_lffG394bdtyPedDzTrqy6Mjw"
                class="card-img-top" alt="...">               
                <div class="card-body">
                  <p class="card-text"><b>" Japan at Night "</b><br>
                    Client-Side Web Development<br>
                    Centennial College, Winter 2021
                    <hr>
                    JavaScript Animation Training<br>
                    Individual Project
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="card-body">
                      <a href="http://studentweb.cencol.ca/jhong52/assignment6/assignment06/items/index.html" class="card-link">Visit Page</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<%- include .././partials/bottom_nav.ejs %>
<%- include .././partials/footer.ejs %>